.sidebar {
  width: 275px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 26px 20px;
  background: #201d42;
  color: #f9f8ff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 11px;
  margin: 0 12px 48px;

}
.logo-icon img {
  display: grid;
  width: 41px;
  height: 41px;
  place-items: center;
  border-radius: 12px;
  background: #7457f6;
}


.logo h2 {
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 18px;
}
.logo span {
  display: block;
  margin-top: 3px;
  color: #bbb7d8;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 0.8px;
}
.sidebar-title {
  margin-right: auto;
  padding: 0 12px 12px;
  color: #8f8aa9;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1.25px;
}
.menu-item ul {
  list-style: none;
}
.menu-item ul li {
  display: flex;
  align-items: center;
  gap: 13px;
  min-height: 46px;
  padding: 0 12px;
  border-radius: 8px;
  color: #cbc8dc;
  font-size: 14px;
  font-weight: 500;
}
.icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
    filter: brightness(0) invert(1);

 
}
.profile {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 10px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.07);
}
.profile-img {
  display: grid;
  width: 34px;
  height: 34px;
  place-items: center;
  margin-right: 10px;
  border-radius: 50%;
  background: #7256ec;
  font-size: 12px;
  font-weight: 700;
}
.profile-data {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 3px;
}
.profile-data strong {
  font-size: 12px;
}
.profile-data span {
  color: #aaa6c3;
  font-size: 10px;
}
.profile-icon {
  width: 18px;
  height: 18px;
  filter: grayscale(1) brightness(3);
  cursor: pointer;
}
@media (max-width: 720px) {
  .sidebar {
    display: none;
  }
}
